extends ./_layouts/_default
block uniqueFile
  script(src="/assets/js/contents/index/app.js")

block contents
  article
    section
      img(src=img_path+ 'sakura.jpg', alt='sakura')
      p.c-btn__normal hoge
    section#body